<form (ngSubmit)="changePassword()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <mat-icon [icIcon]="icFingerPrint" class="avatar mr-5"></mat-icon>
   
    <h2 class="headline m-0" fxFlex="auto">{{defaults.nome_completo_usuario}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
      <mat-form-field class="flex-auto" *ngIf="!isMaster">
        <mat-label>Senha Atual</mat-label>
        <input cdkFocusInitial [type]="inputType" formControlName="senha_atual" autocomplete="new-password" matInput
          required>
        <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
          <mat-icon *ngIf="passwordVisible" [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!passwordVisible" [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="form.get('senha_atual').errors?.serverError">
          {{ form.get('senha_atual').errors?.serverError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>Nova Senha</mat-label>
        <input [type]="inputType" formControlName="nova_senha" autocomplete="new-password" matInput required>
        <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
          <mat-icon *ngIf="passwordVisible" [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!passwordVisible" [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="form.get('nova_senha').errors?.serverError">
          {{ form.get('nova_senha').errors?.serverError }}
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button [disabled]="!form.valid" color="primary" mat-button type="submit">Modificar Senha</button>
  </mat-dialog-actions>
</form>